<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.loginregister">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.    READ_GSERVICES" />

    <!--
       The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
       Google Maps Android API v2, but you must specify either coarse or fine
       location permissions for the 'MyLocation' functionality.
    -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".activities.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.UsersListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SplashScreen"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".activities.SP_Registration"
            android:theme="@style/newtheme" />
        <activity
            android:name=".activities.SP_MainScreen"
            android:theme="@style/newtheme" />
        <activity
            android:name=".activities.Who_are_you"
            android:theme="@style/AppTheme.who" />
        <activity
            android:name=".activities.CreateAccount"
            android:theme="@style/AppTheme.GrayStatusBar" />
        <activity
            android:name=".activities.OtpVerification"
            android:theme="@style/AppTheme.GrayStatusBar" />
        <activity
            android:name=".activities.ListCategory"
            android:theme="@style/AppTheme.GrayStatusBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.Navigation"
            android:theme="@style/AppTheme.NavStatusBar" />
        <activity
            android:name=".activities.LogininAccount"
            android:theme="@style/AppTheme.GrayStatusBar" />
        <activity
            android:name=".activities.sp"
            android:theme="@style/AppTheme.NavStatusBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.Users_Login"
            android:theme="@style/AppTheme.GrayStatusBar" />
        <activity
            android:name=".activities.Users_CreateAccount"
            android:theme="@style/AppTheme.GrayStatusBar" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".activities.User_Navigation"
            android:label="@string/title_activity_user__navigation"
            android:theme="@style/AppTheme.NavStatusBar" />
        <activity android:name=".activities.OtpVerfication_User" android:theme="@style/AppTheme.NavStatusBar" />
        <activity android:name=".activities.UsersLocation" android:theme="@style/AppTheme.NavStatusBar" />
        <activity android:name=".activities.User_AddlocationActivity" android:theme="@style/AppTheme.NavStatusBar"></activity>
    </application>

</manifest>